/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    font-size: 3vw;
    padding: 5px;
  }
  body {
  }
  article {
  }
  h1 {
    font-size: 2vw;
  }
  h2 {
  }
  img {
      max-width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  section {
  }
  figure {
      margin: 0;
  }
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 768px) {
    body {
        background-color: aquamarine;
        font-size: x-large;
        padding: 8px;
        max-width: 80%;
    }
    h1 {
        font-size: 3vw;
    }
    main section figure {
        display: inline-block;
        width: 48%;
    }
  }

  @media screen and (min-width: 992px) {
    body {
        background-color: seashell;
        max-width: 80%;
        font-size: 1vw
    }
  }